body {
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif !important;
    margin: 0px;
}

header {
    background-color: #171F26;
    padding: 0px 0px;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    margin: 0px auto;
}

header .container {
    max-width: 1100px;
    flex: 1;
}

.logo {
    height: 50px;
    margin: 10px 0px;
}

.nav {
    font-weight: bold;
    list-style: none;
    color: #BCBEC0;
    margin: 0px;
    display: flex;
}

    .nav li {
        padding: 0px 5px;
    }

    .nav a {
        display: block;
        color: #BCBEC0;
        font-weight: bold;
        padding: 25px 15px;
        text-decoration: none;
        border-bottom: 3px solid transparent;
    }

        .nav a:hover {
            text-decoration: none;
            border-bottom-color: #BCBEC0;
            background-color: rgba(0,0,0,.5)
        }

/*--*/

.banner {
    background-color: #171F26;
    padding: 20px;
}

    .banner h1 {
        text-align: center;
        color: #BCBEC0;
        font-size: 40px;
        line-height: 1.15;
        padding: 40px 0px 20px;
    }

    .banner h2 {
        text-align: center;
        color: #BCBEC0;
        font-size: 20px;
        line-height: 1.15;
        font-weight: 300;
        margin: 0px;
    }


/* -- */

.feature {
    padding: 20px !important;
}

    .feature h1 {
        margin: 20px 0 !important;
        font-size: 28px !important;
        color: #171F26 !important;
    }

    .feature .fa {
        margin-right: 15px !important;
        color: #171F26 !important;
        width: 20px !important;
    }

    .feature > .feature-content {
        padding: 0px 0px 0px 50px !important;
        line-height: 1.5em !important;
    }


.feature-pack {
    background-color: yellow !important;
}

/* -- */

.banner-title {
    background-color: #f3f3f3;
    padding: 40px;
    margin-bottom: 40px;
    font-size: 36px;
    color: #171F26;
}

    .banner-title .container {
        justify-content: flex-start;
    }

    .banner-title h2 {
        display: inline-block;
        font-size: 18px;
        color: gray;
        font-weight: 300;
        margin-left: 30px;
    }
/* -- */

#examples_menu {
    display: inline-block;
    width: 200px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
}

    #examples_menu li {
        color: #0e83cd;
        cursor: pointer;
        padding: 20px 30px;
    }


        #examples_menu li.active {
            background-color: #F5F2F0;
            color: black;
        }

/* -- */
footer {
    text-align: center;
    background-color: #171F26;
    color: #BCBEC0;
    margin-top: 20px;
    padding: 30px;
}

    footer a {
        color: #BCBEC0;
        text-decoration: none;
    }

        footer a:hover {
            color: #BCBEC0;
            text-decoration: underline;
        }
